body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #eee7ede4;
  }
  
  .stopwatch {
    text-align: center;
    color: #0d0e0d;
  }
  
  button1 {
    padding: 32px 64px;
    margin: 15px;
    font-size: 32px;
    border-radius: 30px;
    background-color: rgb(73, 227, 73);
  }
  button2 {
    padding: 32px 64px;
    margin: 15px;
    font-size: 32px;
    border-radius: 30px;
    background-color: rgb(240, 55, 55);
  }
  button3 {
    padding: 32px 64px;
    margin: 15px;
    font-size: 32px;
    border-radius: 30px;
    background-color: rgb(227, 227, 86);
  }
  